<mat-button-toggle-group class="mat-elevation-z0">

  <mat-button-toggle mat-icon-button #btn (change)="onButtonClick($event)" title="Description">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>

</mat-button-toggle-group>

<mat-expansion-panel class="mat-elevation-z2">
  <h3>Description</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quas laudantium reprehenderit molestias qui recusandae officiis quia laborum soluta est, possimus, eum labore nobis! Eligendi voluptate magni rem dolores esse?
  Molestias quod quam unde iure natus accusamus assumenda eveniet distinctio, repudiandae hic consectetur architecto sed, qui nobis temporibus quis nulla? Asperiores, delectus minima repudiandae veniam corrupti ipsum veritatis molestiae suscipit.
  Fugit blanditiis corporis perferendis ea aliquam harum maiores aperiam atque exercitationem repellendus maxime earum facere, tenetur recusandae debitis iusto tempore repudiandae voluptates numquam velit quam est alias. Laudantium, recusandae maiores?
  Tempore omnis in aperiam? Repellat aspernatur, illum, facilis fuga doloribus sed et expedita explicabo repellendus harum quo nemo soluta? Neque mollitia quas iure reprehenderit deleniti maiores, quibusdam nemo iste nesciunt.</p>
</mat-expansion-panel>
