<div class="component-wrapper">
  <div class="header-wrapper">
    <h1 >Non-decreasing Subsequences</h1>
    <span class="status" [title]="status">{{status | splitCaps}}</span>
    <app-button-status (onStatusChange)="handleStatusChange($event)"></app-button-status>
  </div>


    <p class="container" #container></p>
    <mat-icon *ngIf="isProblemStatmentReady && !isCopied" class="copy" matTooltip="Copy Text"
    (click)="copyProblemStatement(container.innerText)" class="material-symbols-outlined">content_copy</mat-icon>
    <mat-icon *ngIf="isCopied" matTooltip="Copied!">done</mat-icon>


    <div class="content" *ngIf="arr.length">
        <div class="array" *ngIf="!isEditing; else editingTemplate">
            <array-element *ngFor="let el of arr; let i = index" [val]="el.val" [isActive]="el.isActive" ></array-element>
            <mat-icon [appTooltip]="'Edit numbers'" [delay]="500" class="edit" (click)="isEditing = true">edit</mat-icon>
        </div>

        <div class="set">
            <span *ngFor="let item of set">{{item}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div><array-element *ngFor="let item of current" [val]="item.val"  [isPrevious]="item.isPrevious">{{item.val}}</array-element></div>
        <br><br><br><br>
        <!-- <div #solution class="solution"></div> -->

    </div>
    <div class="history-section">
      <app-button-expand></app-button-expand>

      <h1>History</h1>
      <router-outlet></router-outlet>
    </div>
  </div>


<ng-template #editingTemplate>
    <mat-form-field>
        <input type="number" matInput #input [(ngModel)]="numbersStr" (keypress)="handleKeyPress($event)">
        <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''">
            <mat-icon>close</mat-icon>
          </button>
    </mat-form-field>
    <div>{{input.value}}</div>
</ng-template>


